/logs/*
/vendor/*

# gem stuff
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log

# IDE files
.idea

# misc
.directory

# Ignore files starting with '#'
**/\#*

# Keep all .gitkeep.
# Directory has to be ignored with an asterisks: /ignore/this/*
# Else it won't be tracked.
!.gitkeep
